# Dictionary is unordered, changeable and indexed. No duplicate Index

# Type

In [1]:
a = {}
type(a)

dict

In [ ]:
# a = {<index>:<value>,<index>:<value>}

In [4]:
a = {1:'Apple',2:'Ball',3:'Cat'}
a[2]

'Ball'

In [6]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
a['a']

'Apple'

In [8]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball'
a['c'] = 'Cat'
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [14]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}

a['a']

'Apple'

# Loop

In [15]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
for i in a:
    print(i)

a
b
c
aa

In [17]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
for i in a.values():
    print(i)

Apple
Ball
Cat
Apple

In [19]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')
('aa', 'Apple')

# pop

In [24]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
b = a.pop('a')
print(a)
print(b)

{'b': 'Ball', 'c': 'Cat', 'aa': 'Apple'}
Apple

# delete

In [26]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
del a['a']
a

{'b': 'Ball', 'c': 'Cat', 'aa': 'Apple'}

# Length

In [27]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
len(a)

4

In [28]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
b = {'f':'Fish'}
a+b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [29]:
b = {'f':'Fish'}
b*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

# update

In [32]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
b = {'f':'Fish','a':'Ant'}
a.update(b)
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'aa': 'Apple', 'f': 'Fish'}

# Clear

In [34]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat','aa':"Apple"}
a.clear()
a

{}

In [35]:
info = {'Name':'Akash','Age':34,'Address':'Kathmandu'}
info['Name']

'Akash'

In [37]:
name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter Address = ")
info = {'Name':name,'Age':age,'Address':address}
print(info)

Enter name = Ram
Enter age = 45
Enter Address = Patan
{'Name': 'Ram', 'Age': 45, 'Address': 'Patan'}

In [2]:
info = {}
name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter Address = ")
info['Name'] = name
info['age']=age
info['address'] = address
print(info)

Enter name = Ram
Enter age = 56
Enter Address = jkshjdsf
{'Name': 'Ram', 'age': 56, 'address': 'jkshjdsf'}

In [3]:
info['Name']

'Ram'

In [5]:

name = []
age = []
address = []
n = int(input("Enter the no of Students = "))
for i in range(n):
    na = input("Enter name = ")
    ag = int(input("Enter age = "))
    add = input("Enter Address = ")
    name.append(na)
    age.append(ag)
    address.append(add)
info = {'Name':name,'Age':age,'Address':address}
print(info)

Enter the no of Students = 2
Enter name = Ram
Enter age = 67
Enter Address = Patan
Enter name = Shyam
Enter age = 34
Enter Address = Kathmandu
{'Name': ['Ram', 'Shyam'], 'Age': [67, 34], 'Address': ['Patan', 'Kathmandu']}

In [11]:
i = int(input("Enter the value of i = "))
print(info['Name'][i])
print(info['Age'][i])
print(info['Address'][i])

Enter the value of i = 1
Shyam
34
Kathmandu

In [13]:
roll = []
name = []
age = []
address = []
n = int(input("Enter the no of Students = "))
for i in range(1,n+1):
    na = input("Enter name = ")
    ag = int(input("Enter age = "))
    add = input("Enter Address = ")
    name.append(na)
    age.append(ag)
    address.append(add)
    roll.append(i)
info = {'Roll':roll,'Name':name,'Age':age,'Address':address}
print(info)

Enter the no of Students = 2
Enter name = sdfd
Enter age = 34
Enter Address = dfg
Enter name = dgfd
Enter age = 54
Enter Address = dfgdf
{'Roll': [1, 2], 'Name': ['sdfd', 'dgfd'], 'Age': [34, 54], 'Address': ['dfg', 'dfgdf']}

In [15]:
i = int(input("Enter the value of i = "))-1
print(info['Roll'][i])
print(info['Name'][i])
print(info['Age'][i])
print(info['Address'][i])

Enter the value of i = 1
1
sdfd
34
dfg

In [18]:
a = {'Ram':{'Physics':34,'Chemistry':45,'Math':67},
    'Shyam':{'Physics':38,'Chemistry':65,'Math':87}}

{'Ram': {'Physics': 34, 'Chemistry': 45, 'Math': 67},
 'Shyam': {'Physics': 38, 'Chemistry': 65, 'Math': 87}}

In [20]:
a['Ram']
a['Shyam']

{'Physics': 38, 'Chemistry': 65, 'Math': 87}

In [23]:
name = input("Enter name=")
a[name]

Enter name=Ram

{'Physics': 34, 'Chemistry': 45, 'Math': 67}

In [24]:
a = {'Ram':{'Physics':34,'Chemistry':45,'Math':67},
    'Shyam':{'Physics':38,'Chemistry':65,'Math':87}}
a['Hari'] = {'Physics':67,'Chemistry':89,'Math':45}
a

{'Ram': {'Physics': 34, 'Chemistry': 45, 'Math': 67},
 'Shyam': {'Physics': 38, 'Chemistry': 65, 'Math': 87},
 'Hari': {'Physics': 67, 'Chemistry': 89, 'Math': 45}}

In [26]:
a['Hari']['Physics'] = 97
a

{'Ram': {'Physics': 34, 'Chemistry': 45, 'Math': 67},
 'Shyam': {'Physics': 38, 'Chemistry': 65, 'Math': 87},
 'Hari': {'Physics': 97, 'Chemistry': 89, 'Math': 45}}

In [27]:
a = {}
n = int(input("Enter the no of students = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter the marks in physics = "))
    chemistry = int(input("Enter the marks in chemistry = "))
    math = int(input("Enter the marks in math = "))
    english = int(input("Enter the marks in english = "))
    nepali = int(input("Enter the marks in nepali = "))
    a[name] = {'Physics':physics,'Chemistry':chemistry,'Math':math,
              'English':english,'Nepali':nepali}
print(a)

Enter the no of students = 2
Enter name = Ram
Enter the marks in physics = 56
Enter the marks in chemistry = 67
Enter the marks in math = 89
Enter the marks in english = 34
Enter the marks in nepali = 67
Enter name = Hari
Enter the marks in physics = 67
Enter the marks in chemistry = 89
Enter the marks in math = 34
Enter the marks in english = 78
Enter the marks in nepali = 34
{'Ram': {'Physics': 56, 'Chemistry': 67, 'Math': 89, 'English': 34, 'Nepali': 67}, 'Hari': {'Physics': 67, 'Chemistry': 89, 'Math': 34, 'English': 78, 'Nepali': 34}}

In [28]:
a['Ram']

{'Physics': 56, 'Chemistry': 67, 'Math': 89, 'English': 34, 'Nepali': 67}

In [29]:
a = {}


n = int(input("Enter the no of students = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter the marks in physics = "))
    chemistry = int(input("Enter the marks in chemistry = "))
    math = int(input("Enter the marks in math = "))
    english = int(input("Enter the marks in english = "))
    nepali = int(input("Enter the marks in nepali = "))
    
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    
    a[name] = {'Physics':physics,'Chemistry':chemistry,'Math':math,
              'English':english,'Nepali':nepali,'Total':total,'Per':per}
print(a)

Enter the no of students = 2
Enter name = Ram
Enter the marks in physics = 56
Enter the marks in chemistry = 23
Enter the marks in math = 89
Enter the marks in english = 78
Enter the marks in nepali = 90
Enter name = Shyam
Enter the marks in physics = 78
Enter the marks in chemistry = 56
Enter the marks in math = 90
Enter the marks in english = 45
Enter the marks in nepali = 56
{'Ram': {'Physics': 56, 'Chemistry': 23, 'Math': 89, 'English': 78, 'Nepali': 90, 'Total': 336, 'Per': 67.2}, 'Shyam': {'Physics': 78, 'Chemistry': 56, 'Math': 90, 'English': 45, 'Nepali': 56, 'Total': 325, 'Per': 65.0}}

In [31]:
name = input("Enter name = ")
data = a[name]
for i in data.items():
    print(i)

Enter name = Ram
('Physics', 56)
('Chemistry', 23)
('Math', 89)
('English', 78)
('Nepali', 90)
('Total', 336)
('Per', 67.2)

In [33]:
name = input("Enter name = ")
subject = input("Enter subject")
update = int(input("Enter value for update = "))
a[name][subject] = update

Enter name = Ram
Enter subjectPhysics
Enter value for update = 89

In [34]:
a

{'Ram': {'Physics': 89,
  'Chemistry': 23,
  'Math': 89,
  'English': 78,
  'Nepali': 90,
  'Total': 336,
  'Per': 67.2},
 'Shyam': {'Physics': 78,
  'Chemistry': 56,
  'Math': 90,
  'English': 45,
  'Nepali': 56,
  'Total': 325,
  'Per': 65.0}}