# list
# value access
# concatination
# operator
# duplicate member
# append
# min max sum aveg
# sort
# remove delete pop
# index insert
# clear
# list inside list
# normal info, Student info
# matrix

In [1]:
a = list('Apple')
a

['A', 'p', 'p', 'l', 'e']

In [2]:
lists = [1,2,3,4]
lists

[1, 2, 3, 4]

In [3]:
a = ['Apple','Ball','Cat']
a

['Apple', 'Ball', 'Cat']

In [6]:
a[-1]

'Cat'

In [9]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[0:5])
print(a[0:9:2])

[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]

In [10]:
a = ['Apple','Ball','Cat']
for i in a:
    print(i)

Apple
Ball
Cat

In [11]:
a = [1,2,3,4,5]
b = [6,7,8,9]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
a = [1,2,3,4,5]
a*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [13]:
a = [1,2,3,4,5]
b = [6]
a+b

[1, 2, 3, 4, 5, 6]

In [18]:
a = ['Apple','Ball','Apple']
len(a)

3

In [19]:
t = []
n = int(input("Enter any value for loop = "))
for i in range(n):
    x = int(input("Enter the value = "))
    t = t+[x]
print("The list is = ",t)

Enter any value for loop = 2
Enter the value = 5
Enter the value = 6
The list is =  [5, 6]

In [ ]:
a.append('Apple')

In [21]:
t = []
n = int(input("Enter any value for loop = "))
for i in range(n):
    x = int(input("Enter the value = "))
    t.append(x)
print("The list is = ",t)

Enter any value for loop = 2
Enter the value = 1
Enter the value = 2
The list is =  [1, 2]

In [22]:
t = []
n = int(input("Enter any value for loop = "))
for i in range(n):
    x = int(input("Enter the value = "))
    t.append(x)
    
print("The max value is = ",max(t))
print("The min value is = ",min(t))
print("The sum value is = ",sum(t))
print("The average value is = ",sum(t)/n)

Enter any value for loop = 10
Enter the value = 3
Enter the value = 4
Enter the value = 3
Enter the value = 4
Enter the value = 5
Enter the value = 3
Enter the value = 4
Enter the value = 5
Enter the value = 2
Enter the value = 4
The max value is =  5
The min value is =  2
The sum value is =  37
The average value is =  3.7

In [28]:
t = []
n = int(input("Enter any value for loop = "))
for i in range(n):
    x = input("Enter the value = ")
    t.append(x)
    
t.sort()
t

Enter any value for loop = 5
Enter the value = Aplle
Enter the value = ZEBRA
Enter the value = .xray
Enter the value = 1ball
Enter the value = @Apple

['.xray', '1ball', '@Apple', 'Aplle', 'ZEBRA']

In [2]:
t = []
n = int(input("Enter any value for loop = "))
for i in range(n):
    x = int(input("Enter the value = "))
    t.append(x)
    
t.sort()
t.reverse()
t

Enter any value for loop = 5
Enter the value = 123
Enter the value = 45
Enter the value = 123
Enter the value = 65
Enter the value = 234

[234, 123, 123, 65, 45]

In [11]:
x = [234, 123, 123, 65, 45]

for i in range(len(x)-1,-1,-1):
    print(x[i])

45
65
123
123
234

In [13]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple']
if 'Apple' in a:
    print("Yes",a.count('Apple'))
else:
    print("No")

Yes 2

In [19]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple','Apple']
a.remove('Apple')
a

['Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Apple']

In [21]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple','Apple']
count  = a.count('Apple')-1
for i in range(count):
    a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [ ]:
a = ['Apple','Ball','Cat','Dog','Fish','Apple','Apple']
x = input("Enter any value for remove = ")
count  = a.count(x)-1
for i in range(count):
    a.remove(x)
print(a)

In [32]:
a = ['Ball', 'Cat', 'Dog', 'Fish', 'Apple']
del a[0:5:2]
a

['Cat', 'Fish']

In [35]:
a = ['Ball', 'Cat', 'Dog', 'Fish', 'Apple']
print(a.pop(0))
print(a)

Ball
['Cat', 'Dog', 'Fish', 'Apple']

In [38]:
a = ['Ball', 'Cat', 'Dog', 'Fish', 'Apple']
x = a.pop()
y = a.pop(1)
print(x+y)
print(x)
print(a)

AppleCat
Apple
['Ball', 'Dog', 'Fish']

In [ ]:
# index()
# insert()

In [46]:
x = ['Ball', 'Dog', 'Fish','Ball']
for i in range(2):
    if 'Ball' in x:
        print(x.index('Ball'))
        x.remove('Ball')

0
2

In [47]:
x = ['Ball', 'Dog', 'Fish','Ball']
x.insert(1,'Apple')
x

['Ball', 'Apple', 'Dog', 'Fish', 'Ball']