In [1]:
a = 'raj kapoor gupta'

In [3]:
a.split()

['raj', 'kapoor', 'gupta']

In [14]:
a = 'raj@kapoor@gupta'
print(a.split('@'))
type(a.split('@'))

['raj', 'kapoor', 'gupta']

list

In [10]:
a = 'rajAkapoorAgupta'
print(a.partition("A"))
type(a.partition("A"))

('raj', 'A', 'kapoorAgupta')

tuple

In [15]:
d = 'My name is Raj Kapoor Gupta'
d.find('G')

22

In [20]:
d = 'raj'
d.center(31,'@')

'@@@@@@@@@@@@@@raj@@@@@@@@@@@@@@'

In [24]:
'raj\tkapoor'.split('\t')
'raj\tkapoor'.expandtabs()

'raj     kapoor'

In [25]:
'My name is {} kapoor'.format('raj')

'My name is raj kapoor'

In [29]:
a = input('Please give your name ')
b = input('Please give your second name ')
'My name is {} {}'.format(a,b)

Please give your name Raj
Please give your second name Kapoor

'My name is Raj  Kapoor'

In [34]:
aa = "kathmandu4400"

In [35]:
aa.isalnum()

True

In [36]:
aa.isalpha()

False

In [37]:
aa.islower()

True

In [45]:
ab = [1,2,34,[4,5,6,7,7],'raj','kapoor']

In [46]:
ab.append('gupta')

In [47]:
ab

[1, 2, 34, [4, 5, 6, 7, 7], 'raj', 'kapoor', 'gupta']

In [48]:
ab.insert(3,['ram','shyam',1,2])

In [49]:
ab

[1, 2, 34, ['ram', 'shyam', 1, 2], [4, 5, 6, 7, 7], 'raj', 'kapoor', 'gupta']

In [72]:
a = [1,2,3,4]
b = [3,4,5,6,6]
c = [6,7,8,9,0,0]

d = [a,b,c]
d

[[1, 2, 3, 4], [3, 4, 5, 6, 6], [6, 7, 8, 9, 0, 0]]

In [60]:
d[::-1][2]

[1, 2, 3, 4]

In [73]:
dd = d[::-1]
dd

[[6, 7, 8, 9, 0, 0], [3, 4, 5, 6, 6], [1, 2, 3, 4]]

In [74]:
m = []
for i in dd:
    m.append(i[::-1])
    
m

[[0, 0, 9, 8, 7, 6], [6, 6, 5, 4, 3], [4, 3, 2, 1]]

In [75]:
d

[[1, 2, 3, 4], [3, 4, 5, 6, 6], [6, 7, 8, 9, 0, 0]]

In [77]:
n =[]
for i in d:
    n.append(i[3]*2)
n

[8, 12, 18]

# List Comprehension

In [79]:
[(i[3]*2) for i in d]

[8, 12, 18]

# Extend and Append function

In [81]:
a= [1,2,3,4,5,6,7,6]
a.append(['ram','shyam',1,2])
a

[1, 2, 3, 4, 5, 6, 7, 6, ['ram', 'shyam', 1, 2]]

In [82]:
a.extend(['raj', 'kapoor', 1,23,4])

In [83]:
a

[1, 2, 3, 4, 5, 6, 7, 6, ['ram', 'shyam', 1, 2], 'raj', 'kapoor', 1, 23, 4]