# Tuple
## info
## remove (cannot perform directly)
## tuple inside tuple
## concatination (Tuple inside tuple)
## tuple inside list
## list inside tuple

# tuple concatination

In [5]:
a =(1,2,3,4,5,6)
b = (7,8,9,10)
a+b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# remove, delete, replace cannot be performed directly

In [6]:
a = ("Apple","Ball","cat","Dog","Elephant")
a= list(a)
del a[0]
print(a)
a = tuple(a)
print(a)

['Ball', 'cat', 'Dog', 'Elephant']
('Ball', 'cat', 'Dog', 'Elephant')

# tuple inside tuple

In [7]:
a = ((1,2,3),(4,5,6,),(7,8,9))
a = list(a)
print(a[0])

(1, 2, 3)

# Tuple to list conversion

In [8]:
b=[]
a = ((1,2,3),(4,5,6,),(7,8,9))
a = list(a)
for i in range(3):
    b.append(list(a[i]))
    print(b)

[[1, 2, 3]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# list to tuple conversion

In [9]:
b=()
a = [[1,2,3,],[4,5,6],[7,8,9]]
a = tuple(a)
for i in range(3):
    b = b+(tuple(a[i]),)
    print(b)

((1, 2, 3),)
((1, 2, 3), (4, 5, 6))
((1, 2, 3), (4, 5, 6), (7, 8, 9))

# tuple inside list

In [13]:
info = []
n = int(input("Enter the range = "))
for i in range(n):
    name = input("Enter the name = ")
    Add = input("Enter the address = ")
    num = input('Enter the contact number = ')
    x = (name,Add,num)
    info.append(tuple(x),)
print(info)

Enter the range = 2
Enter the name = Raj
Enter the address = birganj
Enter the contact number = 98071
Enter the name = kapoor
Enter the address = kathmandu
Enter the contact number = 65393
[('Raj', 'birganj', '98071'), ('kapoor', 'kathmandu', '65393')]

# list inside tuple

In [2]:
info = ()
n = int(input("Enter the range = "))
for i in range(n):
    name = input("Enter the name = ")
    Add = input("Enter the address = ")
    num = input('Enter the contact number = ')
    x = [name,Add,num]
    info = info + tuple([x])
print(info)

Enter the range = 2
Enter the name = kapoor
Enter the address = kathmandu
Enter the contact number = 65393
Enter the name = raj
Enter the address = birganj
Enter the contact number = 98071
(['kapoor', 'kathmandu', '65393'], ['raj', 'birganj', '98071'])